{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="{% url 'des' %}" method="post" class="df">
                    {% csrf_token %}
                    <div class="col-3">
                        <select class="form-select me-2" name="info" multiple aria-label="select example">
                            {% for i in room %}
                                <option value="{{ i.id }}">{{ i.category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="number" name="number" class="form-control me-2" placeholder="Number" required>
                    </div>
                    <div class="form-check form-switch me-2">
                        <input class="form-check-input" name="busy" type="checkbox" value="True" role="switch" id="flexSwitchCheckChecked" checked>
                        <label for="flexSwitchCheckChecked">Busy</label>
                    </div>
                    <button type="submit" class="btn btn-primary ml">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <table class="table table-hover tl">
                    <thead>
                        <tr>
                            <th scope="col">Room</th>
                            <th scope="col">Number</th>
                            <th scope="col">Busy</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in des %}
                            <tr>
                                <td><a href="{% url 'single-room' i.id %}">{{ i.room.category.name }}</a></td>
                                <td>{{ i.number }}</td>
                                <td>{{ i.busy }}</td>
                                <td><a href="{% url 'update-des' i.id %}"><img src="{% static 'icons/edit.svg' %}"></a></td>
                                <td><a href="{% url 'delete-des' i.id %}"><img src="{% static 'icons/trash.svg' %}"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}