{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form action="{% url 'image' %}" method="post" class="df" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-10">
                        <input class="form-control bg-dark me-2" name="img" type="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary ml">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <table class="table table-hover tl">
                    <thead>
                    <tr>
                        <th scope="col">Room Image</th>
                        <th scope="col">ID</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in img %}
                            <tr>
                                <td><img src="{{ i.img.url }}" width="20" height="20"></td>
                                <td>{{ i.id }}</td>
                                <td><a href="{% url 'update-image' i.id %}"><img src="{% static 'icons/edit.svg' %}"></a></td>
                                <td><a href="{% url 'delete-image' i.id %}"><img src="{% static 'icons/trash.svg' %}"></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}