{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <form action="{% url 'update-user' users.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-12 mb-3">
                            <input type="text" name="username" value="{{ users.first_name }}" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" name="phone" value="{{ users.phone }}" class="form-control" placeholder="Phone" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}